<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - @ViewData["Assignment"]</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
    <link rel="shortcut icon" href="~/Y-favicon.ico" />
    <script src="https://kit.fontawesome.com/9873785e23.js" crossorigin="anonymous"></script>
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-dark border-bottom box-shadow mb-3">
            <div class="container">
                <div class="navbar-brand text-white">@ViewData["Assignment"]</div>
            </div>

            @* Added the cart summary widget *@
            <div class="col-6 text-right navbar-brand text-white">
                <vc:cart-summary />
            </div>
        </nav>
    </header>
    <div class="container">

        @* Added the View Component here for the navigation menu*@
        <div class="row m-1 p-1">
            <div class="col-3">
                <vc:navigation-menu />
            </div>
            <div class="col-1">
            </div>
            <div class="col-6 text-center">
                @RenderBody()
            </div>
        </div>
    </div>

    <footer class="border-top footer text-muted text-white text-right bg-dark">
        <div class="container">
            &copy; 2021 - @ViewData["Assignment"]
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @RenderSection("Scripts", required: false)
</body>
</html>
