@{
    ViewData["Title"] = "Famazon";
    ViewData["Dash"] = "-";
    ViewData["SubTitle"] = "Home";
    ViewData["Assignment"] = "Assignment_8_Joisah_Sarles";
}
@model BookListViewModel

<div class="text-center">
    <h1 class="display-4">Welcome to @ViewData["Title"]</h1>
    <h6>The Best Fake Amazon</h6>
    <div>
        <br />
        <h3>Current Book List</h3>
        <br />
        <img src="~/books.jpg" style="width: 300px; display: block; margin-left: auto; margin-right: auto;" />
    </div>
    <br />
    <br />
</div>
<div class="text-center">
 
        @*Here the datafrom the database is printed*@
        @foreach (var x in Model.Books)
        {
            <div class="">
                <h5>
                    @x.title
                </h5>
                <p>
                    Author: @x.authorFirst @x.authorMiddle @x.authorLast
                </p>
                <p>
                    Publisher: @x.publisher
                </p>
                <p>
                    ISBN: @x.isbn
                </p>
                <p>
                    Classification/Category: @x.classification, @x.category
                </p>
                <p>
                    # of Pages: @x.pages
                </p>
                <p>
                    Price: $@x.price
                </p>
                <br />
            </div>
        }
    </div>
    @*The css for the pagination highlight is in the site.css
        I also added an if statement to the PageListTageHelper that highlights the current page*@
        <div page-model="@Model.PagingInfo" page-action="Index" page-url-category="@Model.CurrentCategory" class="paginationhighlight">

        </div>
</div>
